* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    padding: 47px 19px 15px 22px;
}

.cards {
    position: relative;
}

.cards__item,
.cards__item-element,
.benefit,
.benefit__img,
.benefit__text {
    display: flex;
}

.cards__item {
    justify-content: space-between;
    margin-bottom: 50px;
}

.cards__item-element {
    flex-direction: column;
    padding: 27.22px 7.21px;
}

.cards__item-element:hover {
    box-shadow: 1px 1px 4px 0px #d9d9d9;
}

.cards__investments {
    font: 600 24px/24px "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.cards__triangle-1 {
    position: absolute;
    right: 24px;
    top: -50px;
    width: 88px;
}

.card__data {
    align-self: self-end;
    font: 600 12px/12px "Montserrat", sans-serif;
    color: #be1736;
}

.card__img,
.card__img_apple {
    width: 126px;
    align-self: center;
    margin: 20px 0 30px 0;
}

.card__img_apple {
    margin: 13.285px 0 23.285px 0;
}

.card__partner {
    margin-bottom: 30px;
    text-align: center;
    font: 600 16px/16px "Montserrat", sans-serif;
}

.card__text {
    font: 400 14px/20px "Montserrat", sans-serif;
}

.card__text b,
.card__text_active b {
    font: 600 14px/20px "Montserrat", sans-serif;
}

.card__text_active b {
    color: #4075df;
}

.card__btn {
    margin-top: 30px;
    border: 2px solid transparent;
    background: #fff;
    padding: 16.5px 88.11px;
    font: 400 14px/14px "Montserrat", sans-serif;
}

.card__btn:hover {
    border-color: #575756;
}

.card__triangle-2 {
    position: absolute;
    left: 1px;
    bottom: 70px;
    width: 85.15px;
}

.cards__idea {
    display: block;
    margin: 0 auto 100px;
    padding: 16.5px 96.66px;
    background: #fff;
    font: 400 14px/14px "Montserrat", sans-serif;
    border: 2px solid #575756;
}

.benefit {
    justify-content: space-around;
}

.benefit__img {
    align-items: self-end;
    height: 418px;
    border: 3px dashed #d9d9d9;
    margin-top: 46px;
}

.benefit__text {
    flex-direction: column;
    justify-content: space-around;
    height: 464px;
    margin-left: 91.63px;
}

.benefit__text-ben {
    font: 600 24px/24px "Montserrat", sans-serif;
    margin-bottom: 30px;
}

.benefit__text-title {
    font: 600 18px/18px "Montserrat", sans-serif;
}

.benefit__text-text {
    font: 400 14px/14px "Montserrat", sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;

    &:last-child {
        margin: 0;
    }
}

.cards__triangle-3 {
    position: absolute;
    right: 30px;
    bottom: -408px;
    height: 126.36px;
}
